input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
margin: 0;
}

.input_cantidad { 
    .text-input{ text-align: center; }
}

.center-text {
    text-align: center;
 }

 .aClass{
     font-size: 50px;
 }
 .mBton{
    margin: 0;
}

.allowCopy{
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
	user-select: text; 
}

ion-card-header{
    padding-bottom: 0%;
}


.myBtn {
    place-self:end;
    position:sticky;
    float: right;
    bottom:20px;
    
  }
  