<app-header titulo="Encuesta"></app-header>
<ion-content>

    <ion-list>
      <ion-item>
        <p>Que te parece el servicio del vendedor</p>
      </ion-item>
      <ion-item>

        <ion-label>Seleccione respuesta</ion-label>
        <ion-select>
          <ion-select-option value="5">Excelente</ion-select-option>
          <ion-select-option value="4">Bueno</ion-select-option>
          <ion-select-option value="3">Regular</ion-select-option>
          <ion-select-option value="2">Malo</ion-select-option>
          <ion-select-option value="1">N/S N/R</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
</ion-content>